body {
    font-family: "Times New Roman", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}

h1 {
    display: inline;
}

nav {
    font-size: large;
}

.navbar-right {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: black;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}